header {
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
}
.header-inner {
  border-bottom: 1px solid rgba(217, 217, 217, 0.15);
}
.header-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.header-items nav ul {
  display: flex;
  align-items: center;
  gap: 36px;
}
.header-items nav ul a {
  color: var(--white);
  font-size: 17px;
}
.btn-green {
  display: inline-flex;
  align-items: center;
  color: var(--white);
  background-color: var(--green);
  border-radius: 25px;
  padding: 13px 20px;
  transition: 0.4s all ease-in-out;
  position: relative;
}
.btn-green h4 {
  padding-right: 31px;
}
.ri-send-plane-fill {
  position: absolute;
  top: 2.8px;
  right: 3px;
  background-color: var(--white);
  color: var(--green-dark);
  border-radius: 50%;
  padding: 11px;
  margin-left: 10px;
}
header ul a:hover {
  color: var(--green);
  transition: 0.4s all ease-in-out;
}
.btn-green:hover {
  background-color: var(--orange);
  transition: 0.4s all ease-in-out;
}
