:root {
  --green-dark: #1d2320;
  --orange: #f7921e;
  --green: #63ab45;
  --white: #fff;
  --gray: #c1c2c1;
}
.d-flex {
  display: flex;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  color: black;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style: none;
}

/* Herosection */

.herosection {
  background-image: url(https://gowilds.netlify.app/assets/images/hero/hero-two_img-4.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.herosection::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    129.29deg,
    rgba(0, 0, 0, 0.6) 16.77%,
    rgba(0, 0, 0, 0.3) 74.33%
  );
  z-index: 999;
}
.hero-content {
  position: relative;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 300px 0;
}
.hero-content .btn-orange {
  font-size: 19px;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  background-color: var(--orange);
}
.hero-main-heading {
  font-size: 80px;
  color: var(--white);
  text-align: center;
  letter-spacing: 0.04em;
  line-height: 90px;
  padding-top: 30px;
  max-width: 1000px;
}

/* Bookingform */
.form-inner {
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 60px 30px;
  margin-top: -80px;
  position: relative;
  z-index: 999;
  border-radius: 30px;
  margin-bottom: 40px;
}

form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 400;
  font-size: 18px;
  color: var(--green-dark);
  margin-bottom: 5px;
}

input,
select {
  padding: 15px 23px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  margin-top: 20px;
  outline: none;
}

button {
  width: 100%;
  border: 1px solid rgba(28, 35, 31, 0.15);
  background-color: transparent;
  padding: 17px 30px;
  border-radius: 50px;
  line-height: 25px;
  font: 600 14px "Prompt", sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  margin-top: 40px;
  white-space: nowrap;
}
button:hover {
  border-color: transparent;
  background-color: #63ab45;
  color: var(--white);
}

/* Adventure */

.btn-primary {
  color: var(--green);
  background: rgba(99, 171, 69, 0.1);
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
}
.adventure {
  padding: 40px;
}
.adventure-title {
  text-align: center;
}
.adventure-title h2 {
  padding: 20px 0;
  font-size: 40px;
  letter-spacing: 0.03em;
  color: var(--green-dark);
}
.adventure-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-top: 60px;
}

.img-holder {
  overflow: hidden;
}
.single-features-item-two {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.img-holder img {
  transition: all 0.3s ease-in-out;
}

.img-holder img:hover {
  transform: scale(1.4);
}

.item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999999;
  padding: 40px 30px 35px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 43.14%,
    rgba(0, 0, 0, 0.8) 100%
  );
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: var(--white);
  font-size: 24px;
}

.whosection {
  padding: 50px 0 0 0;
}
.whoinner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
.whoitems {
  display: flex;
  align-items: center;
}
.whoimg {
  width: 100%;
  height: 100%;
}
.whoimg img {
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
  width: 100%;
  object-fit: cover;
}
.whocontent h2 {
  font-size: 45px;
  color: var(--green-dark);
  max-width: 540px;
  padding: 30px 0;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 58px;
}
.whocontent p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 27px;
  color: var(--green-dark);
}
@keyframes growProgressBar {
  0%,
  33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}
.pro {
  border-right: 1px solid var(--gray);
}
@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
.progre {
  display: inline-flex;
  gap: 30px;
  margin-top: 30px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
div[role="progressbar"] {
  --size: 12rem;
  --fg: #369;
  --bg: #def;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  /* width: var(--size); */
  /* height: var(--size); */
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(
      closest-side,
      white 80%,
      transparent 0 99.9%,
      white 0
    ),
    conic-gradient(var(--green) calc(var(--pgPercentage) * 1%), whitesmoke 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--green-dark);
  width: 130px;
  height: 130px;
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
}
.about-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.about-item {
  display: flex;
  align-items: center;
}

.content-about h2 {
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.04em;
  padding: 20px 0;
}
.content-about p {
  font-size: 16px;
  color: var(--green-dark);
  font-weight: 200;
  line-height: 30px;
  max-width: 600px;
}

.about-elementur {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  width: auto;
  display: inline-block;

  padding: 16px 30px 16px 30px;
  margin: 20px 10px;
  --e-transform-rotateZ: -8deg;
  border-radius: 10px;
  transform: perspective(var(--e-transform-perspective, 0))
    rotate(var(--e-transform-rotateZ, 0));
  z-index: 0;
}
.ri-check {
  color: orangered;
}

/* Services */

.services {
  background-color: var(--green-dark);
  padding: 80px 0;
}
.services-title {
  text-align: center;
}
.services-title a {
  color: var(--orange);
  background-color: #383120;
  padding: 12px 25px;
  border-radius: 20px;
}
.services-title h2 {
  color: var(--white);
  font-size: 50px;
  max-width: 1200px;
  margin-inline: auto;
  padding: 20px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #101311;
  border-radius: 20px;
  padding: 20px;
}
.services-content a svg {
  color: var(--orange);
}
.services-content h4 {
  color: var(--white);
  padding: 16px 0;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-size: 19px;
}
.services-content p {
  font-size: 15px;
  color: var(--gray);
  letter-spacing: 0.03em;
  line-height: 30px;
  font-weight: 200;
}
.services-content .btn-link {
  text-decoration: underline;
  color: var(--white);
  letter-spacing: 0.03em;
  padding: 17px 0;
  display: flex;
  align-items: center;
}
.services-content .btn-link svg {
  color: var(--white);
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single-service-item-two {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #101311;
  padding: 50px 50px 40px;
}
.single-service-item-two:hover .hover-bg {
  visibility: visible;
  opacity: 1;
}
.single-service-item-two .hover-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* overflow: hidden; */
  opacity: 0;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.single-service-item-two .hover-bg:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(16, 19, 17, 0.75);
  z-index: -1;
}

.single-service-item .services-content {
  position: relative;
  padding: 20px;
}
.inner-services {
  margin: 80px 0;
}

/* TEAM */

.team {
  padding: 80px 0;
}
.team-title {
  text-align: center;
}
.team-title h2 {
  font-size: 40px;
  padding: 20px 0;
  max-width: 660px;
  margin-inline: auto;
  letter-spacing: 0.03em;
  line-height: 50px;
}
.team-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 40px 0;
  gap: 20px;
}
.team-items {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px 20px;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.content h4 {
  color: var(--green-dark);
  font-size: 22px;
  padding: 10px 0;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.content h5 {
  color: #525252;
  font-weight: 300;
  font-size: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #afadad84;
}
.icons-team {
  padding: 19px 0 0 0;
}
.icons-team a {
  color: #525252;
  margin-right: 8px;
  transition: 0.3s all ease-in-out;
}
.icons-team a:hover {
  color: var(--green);
}

